@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

.logo{
	width: 300px;
}

.buttonscroll{
	position: absolute;
	width: 120px;
	height: 40px;
	left: calc(50% - 60px);
	top: 78%;
	text-decoration: none;
	color: white;

	line-height: 40px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 1.4rem;

	border-bottom: 1px solid white;
	
}

.buttonlang{
	position: absolute;
	
	height: 40px;
	right: 5%;
	top: 5%;
	text-decoration: none;
	color: white;
	line-height: 40px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 1.4rem;
	border-bottom: 1px solid white;
}


.buttontop{
	height: 40px;

text-decoration: none;
color: white;
line-height: 40px;
font-family: "Source Sans Pro";
font-weight: 200;
font-size: 1.4rem;
border-bottom: 1px solid white;
}
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

.presentation{
	background-color: rgba(0,0,0,0.4);
}



body{
	color: black;
}




h1{
	text-align: left;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 4rem;
	margin-bottom: 2rem;

	font-family: "Source Sans Pro",sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 1.2;
	


}

p{
	
	text-align: left;
	padding: 1rem;
	max-width: 800px;
	margin:0;

	font-family: "Source Sans Pro",sans-serif;
	letter-spacing: 0.01rem;
	font-weight: 200;
	font-style: normal;
	font-size: 24px;
	line-height: 1.5;

}

q{
	line-height: 1.4;
	text-align: center;
	font-size: 32px;
	margin: 48px -160px;
	border: none;
	padding: 0;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: italic;
	-webkit-transition: margin 100ms;
	transition: margin 100ms;
}

#container{
	display: block;
}

@media screen and (max-width: 840px) {
	 
	 #left{
		display: inline-block;
		width: 100vw;
		padding: 0;
		text-align: center;
	}

	#right{
		display: inline-block;
		text-align: center;
		width: 100vw;
		margin: 0;
		padding: 0;

	}

	.grostitre{
		font-weight: 200;
		text-align: right;
		line-height: 8rem;
		font-size: 6rem;
		padding-right: 2rem;
	}

	.presentation2{
	color:black;
	height: 55%;
	background-color: rgba(255,255,255,0.4);
}

	form{
		position: relative;
		top: 0px;
		width: 60px;
		left: calc(50% - 60px);
	}

	#ABO{
		background-image:url('../img/background_flower_mobile.jpg');
		background-size: 107%;
		background-attachment: scroll;
		position: relative;
	}
}

@media screen and (min-width: 840px) {

	  #left{
		display: inline-block;
		width: 48vw;
		padding: 0;
	}

	#right{
		display: inline-block;
		text-align: center;
		width: 50vw;
		margin: 0;
		padding: 0;

	}

	.presentation2{
	color:black;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	}

	.grostitre{
		font-weight: 200;
	text-align: right;
	line-height: 8rem;
	font-size: 7rem;
	padding-right: 2rem;
	}


	form{
	position: relative;
	top: 0px;
	width: 60px;
	left: calc(50% - 60px);
	}

	#ABO{
		background-image:url('../img/background_flower2.jpg');
		background-size:cover;
		background-attachment: fixed;
	}
}


#left > p {
	text-align: center;
}



/*NAV RESPONSIVE */
@media screen and (max-width: 710px) {
	
	.navigation{
		display: none;
	}

}



/* PB BACKGROUND */

@media screen and (min-width: 500px) {

	#HOME,
	{
		background-attachment: fixed;
	}

}


.list{
	text-align: left;
	left: calc(50% - 160px);
	margin-top: 4rem;
	position: relative;
}

.list > li {
	font-family: 'Amatic SC';
	font-style: normal;
  	font-weight: 700;
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.list > li > img {
	float: left;
	width: 70px;
	margin-right: 1rem;
	top: 13px;
	position: relative;

}

.about{
	color: white;

}


.about > h1 {
	text-align: center;
}

.description{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

footer{
	height: 60px;
	background-color: #382808;
}

footer > p {
	position: relative;
	max-width: 100%;
	padding: 18px;
	margin: 0;
	text-align: center;
	color: #fff5e1;
	font-size: 1rem;
}



/** BLOG **/

#BLO > h1 {
	text-align: center;
}

.hide{
	display: none;
	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.background_opacity{
	background-color: white;
	opacity: 0.97;
}

.show{
	display: block;
	position: absolute;
	left: 5%;
	top: 2%;
	width: 90%;
	text-align: left;
	padding-left: 2%;
	z-index: 9999;

	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.show > h3 {
	padding-left: 1rem;
	margin-bottom: 0;
}

.show > p {
	max-width: 100%;
}

.show > button {
	position: relative;
	width: 200px;
	opacity: 1;
	padding: 0 1em;
	border: none;
	background-color: #e85657;
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 80px;
	overflow: hidden;
	left: calc(50% - 100px);
	margin-bottom: 40px;
}