.logo{
	width: 300px;
}

.buttonscroll{
	position: absolute;
	width: 160px;
	height: 40px;
	left: calc(50% - 80px);
	top: 78%;
	text-decoration: none;
	color: white;
	/* border: 1px solid white; */
	border-radius: 20px;
	line-height: 40px;
	font-weight: 100;
	font-size: 1.4rem;
	background-color: rgba(255,255,255,0.2);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 


body{
	color: black;
}




h1{
	text-align: left;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 4rem;
	margin-bottom: 2rem;

	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 1.2;
	


}

p{
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: left;
	padding: 2rem;
	max-width: 800px;
	margin:0;

	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;

}

q{
	line-height: 1.4;
	text-align: center;
	font-size: 32px;
	margin: 48px -160px;
	border: none;
	padding: 0;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: italic;
	-webkit-transition: margin 100ms;
	transition: margin 100ms;
}

#container{
	display: block;
}

@media screen and (max-width: 840px) {
	 
	 #left{
		display: inline-block;
		width: 100vw;
		padding: 0;
		height: 200px;
		text-align: center;
	}

	#right{
		display: inline-block;
		text-align: center;
		width: 100vw;
		margin: 0;
		padding: 0;

	}

	form{
		position: absolute;
		top: 100px;
		width: 100%;
	}
}

@media screen and (min-width: 840px) {

	  #left{
		display: inline-block;
		width: 50vw;
		padding: 0;
		height: 200px;
	}

	#right{
		display: inline-block;
		text-align: center;
		width: 50vw;
		margin: 0;
		padding: 0;

	}

	form{
	position: absolute;
	top: 100px;
	left: calc(50% - 60px);
	}
}


#left > p {
	text-align: center;
}



/*NAV

nav{
	display: block;
	height: 60px;
	background-color: #382808;
}

nav > ul{
	position: relative;
	top: -20px;
	display: block;
	margin:0;
	
}

nav > ul > li {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 50px;
	padding-left: 3rem;
	padding-right: 3rem;
	color: #fff5e1;

}

nav > ul > li > span{
	content: url(../img/logomin.svg);
	height: 40px;
	width: 40px;
	position: relative;
	top: 10px;
	left: 60px;


} */